.App {
  text-align: center;
}

.blok {
  margin: 30px;
  text-align: center;
}

.HandName {
  margin-bottom: 30px;
}

.btn {
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
  background: #000;
  border: 1px solid #CF6F49;
  border-radius: 6px;
}